@define-color borders_breeze #d0d2d3;
@define-color content_view_bg_breeze #fafbfc;
@define-color error_color_backdrop_breeze #43cdbd;
@define-color error_color_breeze #43cdbd;
@define-color error_color_insensitive_backdrop_breeze #43cdbd;
@define-color error_color_insensitive_breeze #43cdbd;
@define-color insensitive_base_color_breeze #fafbfc;
@define-color insensitive_base_fg_color_breeze #3c4246;
@define-color insensitive_bg_color_breeze #f7f9f9;
@define-color insensitive_borders_breeze #d0d2d3;
@define-color insensitive_fg_color_breeze #5c5d61;
@define-color insensitive_selected_bg_color_breeze #f7f9f9;
@define-color insensitive_selected_fg_color_breeze #5c5d61;
@define-color insensitive_unfocused_bg_color_breeze #f7f9f9;
@define-color insensitive_unfocused_fg_color_breeze #5c5d61;
@define-color insensitive_unfocused_selected_bg_color_breeze #f7f9f9;
@define-color insensitive_unfocused_selected_fg_color_breeze #5c5d61;
@define-color link_color_breeze #1f8cec;
@define-color link_visited_color_breeze #7f8c8d;
@define-color success_color_backdrop_breeze #9c53c6;
@define-color success_color_breeze #9c53c6;
@define-color success_color_insensitive_backdrop_breeze #9c53c6;
@define-color success_color_insensitive_breeze #9c53c6;
@define-color theme_base_color_breeze #fafbfc;
@define-color theme_bg_color_breeze #f7f9f9;
@define-color theme_button_background_backdrop_breeze #d4d6d6;
@define-color theme_button_background_backdrop_insensitive_breeze #d4d6d6;
@define-color theme_button_background_insensitive_breeze #d4d6d6;
@define-color theme_button_background_normal_breeze #d4d6d6;
@define-color theme_button_decoration_focus_backdrop_breeze #f77067;
@define-color theme_button_decoration_focus_backdrop_insensitive_breeze #f77067;
@define-color theme_button_decoration_focus_breeze #f77067;
@define-color theme_button_decoration_focus_insensitive_breeze #f77067;
@define-color theme_button_decoration_hover_backdrop_breeze #f7c068;
@define-color theme_button_decoration_hover_backdrop_insensitive_breeze #f7c068;
@define-color theme_button_decoration_hover_breeze #f7c068;
@define-color theme_button_decoration_hover_insensitive_breeze #f7c068;
@define-color theme_button_foreground_active_backdrop_breeze #fde6eb;
@define-color theme_button_foreground_active_backdrop_insensitive_breeze #5c5d61;
@define-color theme_button_foreground_active_breeze #fde6eb;
@define-color theme_button_foreground_active_insensitive_breeze #5c5d61;
@define-color theme_button_foreground_backdrop_breeze #424346;
@define-color theme_button_foreground_backdrop_insensitive_breeze #424346;
@define-color theme_button_foreground_insensitive_breeze #424346;
@define-color theme_button_foreground_normal_breeze #424346;
@define-color theme_fg_color_breeze #5c5d61;
@define-color theme_header_background_backdrop_breeze #eff0f1;
@define-color theme_header_background_breeze #dee0e2;
@define-color theme_header_background_light_breeze #f7f9f9;
@define-color theme_header_foreground_backdrop_breeze #232629;
@define-color theme_header_foreground_breeze #232629;
@define-color theme_header_foreground_insensitive_backdrop_breeze #232629;
@define-color theme_header_foreground_insensitive_breeze #232629;
@define-color theme_hovering_selected_bg_color_breeze #f7c068;
@define-color theme_selected_bg_color_breeze #f77067;
@define-color theme_selected_fg_color_breeze #fde6eb;
@define-color theme_text_color_breeze #3c4246;
@define-color theme_titlebar_background_backdrop_breeze #eff0f1;
@define-color theme_titlebar_background_breeze #dee0e2;
@define-color theme_titlebar_background_light_breeze #f7f9f9;
@define-color theme_titlebar_foreground_backdrop_breeze #232629;
@define-color theme_titlebar_foreground_breeze #232629;
@define-color theme_titlebar_foreground_insensitive_backdrop_breeze #232629;
@define-color theme_titlebar_foreground_insensitive_breeze #232629;
@define-color theme_unfocused_base_color_breeze #fafbfc;
@define-color theme_unfocused_bg_color_breeze #f7f9f9;
@define-color theme_unfocused_fg_color_breeze #5c5d61;
@define-color theme_unfocused_selected_bg_color_alt_breeze #f77067;
@define-color theme_unfocused_selected_bg_color_breeze #f77067;
@define-color theme_unfocused_selected_fg_color_breeze #fde6eb;
@define-color theme_unfocused_text_color_breeze #3c4246;
@define-color theme_unfocused_view_bg_color_breeze #fafbfc;
@define-color theme_unfocused_view_text_color_breeze #3c4246;
@define-color theme_view_active_decoration_color_breeze #f7c068;
@define-color theme_view_hover_decoration_color_breeze #f7c068;
@define-color tooltip_background_breeze #f77067;
@define-color tooltip_border_breeze #f5908a;
@define-color tooltip_text_breeze #edf0f2;
@define-color unfocused_borders_breeze #d0d2d3;
@define-color unfocused_insensitive_borders_breeze #d0d2d3;
@define-color warning_color_backdrop_breeze #5f7dcd;
@define-color warning_color_breeze #5f7dcd;
@define-color warning_color_insensitive_backdrop_breeze #5f7dcd;
@define-color warning_color_insensitive_breeze #5f7dcd;
